*~

/vendor/bundle
/.bundle

/bower_components
/node_modules
/lib

app/public/css
app/public/js
app/public/images/members
app/public/images/build/*.jpg
app/public/images/build/*.jpeg
app/public/images/build/*.png
app/public/images/build/*.gif

.foreman
